body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: white;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conversor-moeda {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 6px;
  height: 100vh;
  width: 100vw;
}

.header {
  grid-column: span 8 / span 8;
  background-color: rgb(223, 233, 232);
  border-radius: 10px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: emoji;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
  gap: 10px;
}

.navegação a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: emoji;
  position: relative;
  margin-right: 50px;
}

.conversor-app {
  grid-column: span 6 / span 6;
  grid-row: span 5 / span 6;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 3;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #ccc;
  box-sizing: border-box;
  overflow: hidden;
  gap: 1px;
}

.titulo-entrada {
  display: flex;
  height: 30%;
  width: 60%;
  flex-direction: column;
  align-items: center;
}

.destino {
  height: 10px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  font-family: emoji;
}

.selecionar-moedas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 30%;
  width: 90%;
}

.inverter {
  width: 30%;
  padding: 10px;
  background-color: rgb(120, 121, 118);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 2px;
}

.inverter:hover {
  background-color: #7eff7e;
  color: #000;
}

.converter {
  width: 30%;
  padding: 10px;
  background-color: rgb(120, 121, 118);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
  font-family: emoji;
  font-weight: bold;
}

.converter:hover {
  background-color: #7eff7e;
  color: #000;
}

.conversor-app input,
.conversor-app select {
  width: 45%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.resultado {
  font-size: 18px;
  margin-top: 10px;
}

.atualizacao {
  color: gray;
  font-size: 14px;
}

.cotação-moedas {
  grid-column: span 2 / span 2;
  grid-row: span 8 / span 8;
  grid-column-start: 7;
  grid-row-start: 2;
  background-color: rgb(240, 237, 237);
  border-radius: 30px;
  border-color: #080808;
  height: 100%;
  width: 100%;
}

.cotação-moedas iframe {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  border-color: #080808;
  display: block;
}

.cotação-criptomoedas {
  grid-column: span 6 / span 6;
  grid-row: span 5 / span 4;
  grid-column-start: 1;
  grid-row-start: 2;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.cotação-criptomoedas iframe {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  border-color: #e4dfdf;
  display: block;
}

.calendario-economico {
  grid-column: span 3 / span 6;
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 6;
  background-color: #ece3e3;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-radius: 50px;
  border-color: #080808;
}

.calendario-economico iframe {
  width: 100%;
  height: 100%;
  border-radius: 60px;
  border-color: #080808;
  display: block;
}

.footer {
  grid-column: span 8 / span 8;
  grid-column-start: 1;
  grid-row-start: 10;
  background-color: rgb(223, 233, 232);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  color: #080808;
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
}

.titulo {
  margin: 0px 0px 30px 0px;
  font-size: 40px;
  font-family: emoji;
}

.alerta {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: none;
}

.falha {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.sucesso {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.pagina-inicial {
  grid-column: span 6 / span 6;
  grid-row: span 5 / span 6;
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 20px;
  border-color: #080808;
  background-color: rgb(234, 240, 227);
  border-radius: 50px;
}

.sobre-site {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 90%;
  gap: 20px;
  border-color: #080808;
  background-color: rgb(234, 240, 227);
  border-radius: 50px;
  padding: 20px;
}

.tecnologias {
  grid-column: span 4 / span 4;
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 90%;
  gap: 20px;
  border-color: #080808;
  background-color: rgb(234, 240, 227);
  border-radius: 50px;
  padding: 20px;
}

.autor {
  grid-column: span 5 / span 5;
  grid-row: span 4 / span 4;
  grid-column-start: 5;
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  gap: 20px;
  border-color: #080808;
  background-color: rgb(234, 240, 227);
  border-radius: 50px;
  padding: 20px;
}